---
# This is the Front Matter block
---

@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Serif|Inconsolata');
$default-font-size: 16px;
$default-font-family: "PT Serif", "Georgia", "Serif";
$title-fonts: "Oswald", "Helvetica", "Sans Serif";
$code-font: "consolas", "Inconsolata", "monospace", "Sans Serif";
$my-orange: #c97800;
$code-background-color: #ededed;

@import 'reset.scss';


%title {
	padding-top: 0.4em;
	padding-bottom: 0.2em; 
	font-family: $title-fonts;
	line-height: 1.05;
}
h1 {
	@extend %title;
	font-size: 3.998em;
}
h2 {
	@extend %title;
	font-size: 2.827em;
}
h3 {
	@extend %title;
	font-size: 1.999em;
}
h4 {
	@extend %title;
	font-size: 1.414em;
}

time {
	font-family: "Georgia";
}

a {
	text-decoration: none;
}

header.site-header {
	color: white;
	background-color: black;
	a {
		color: white;
	}
	.site-title {
		padding: 1em;
		padding-bottom: 0.1em;
	}
	ul {
		padding: 0.4em;
		padding-top: 0.1em;
		padding-bottom: 0.01em;
		text-align: right;
		font-family: $title-fonts;
		li {
			display: inline-block;
			padding-left: 0.5em;
			a:hover {
				color: $my-orange;
			}
		}
	}
}

div.main-content
{
	margin: 0 auto;
	max-width: 45em;
}

article.post 
{
	header
	{
		text-align: center;
		margin-bottom: 2em;
		a {
			color: black;
		}
		
		div.navigation
		{
			text-align: right;
			a {
				display: inline-block;
				background-color: black;
				color: white;
				font-family: $title-fonts;
				padding: 0.6em;
			}
		}
	}
	div.content {
		%regular-text {
			font-size: 1.02em;
		}

		a {
			@extend %regular-text;
			text-decoration: underline;
			color: $my-orange;
		}
		

		ul {
			li {
				@extend %regular-text;
				padding-bottom: 0.8em;
			}
			list-style-type: square;
			text-align:left;
			padding-left: 2em;
			padding-top: 0.5em;
			padding-bottom: 1em;
			line-height: 1.2;	
		}
		p {
			@extend %regular-text;
			text-align: justify;
			line-height: 1.37;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		
		%code-text {
			font-family: $code-font;
			background-color: $code-background-color;
			font-size: 0.8em;
		}
		
		span.code 
		{
			display: inline;
			@extend %code-text;
		}
		div.gist {
			padding-top: 0.5em;
			padding-bottom: 0.1em;
			tr, td {
				background-color: $code-background-color;
			}
			a {
				@extend %code-text;
				font-size: 1em;
				text-decoration: none;
				background-color: transparent;
			}
		}
	}
	
	footer {
		padding: 1em;
		background-color: black;
		color: white;
		margin-bottom: 0.5em;
		text-align: right;
		div.share {
			display: inline-block;
			padding: 0.5em;
			border: solid white 6px;
			h3 {
				padding: 0;
				margin: 0;
			}
			a {
				margin: 0;
				padding: 0;
				color: white;
			}
		}
	}
}

div.archives 
{
	text-align: center;
	td {
		vertical-align: middle;
		padding : 0.1em;
		padding-left: 1em;
		text-align: left;
	}
	margin-top: 2em;
	margin-bottom: 8em;
	a {
		color: black;
		&:hover {
			color: $my-orange;
		}
	}
}

div.about {
	margin-top: 2em;
	img.id-img {
		max-width: 35%;
		float: right;
		display: inline-block;
		padding: 1em;
		padding-top: 0.1em;
	}
	i{
		font-size: 1.2em;
	}
}

footer.site-footer 
{
	font-size: 0.8em;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0.2em;
	max-width: 30em;
	a {
		color: $my-orange;
		text-decoration: underline;
	}
}

@import 'mobile.scss';