---
layout: default
title: Tags
---
<section class="tags-index" aria-labelledby="tags-title">
	<!-- <header>
		<h1 id="tags-title">tags</h1>
	</header> -->
	{% assign sorted_tags = site.tags | sort %}
	<ul class="tags-grid">
	{% for tag in sorted_tags %}
		<li>
			<a href="{{ site.baseurl }}/tag.html#{{ tag[0] }}">
				<span class="tag-name">{{ tag[0] | replace: '-', ' ' }}</span>
				<span class="tag-count">
					{{ tag[1] | size }} {% if tag[1].size == 1 %}post{% else %}posts{% endif %}
				</span>
			</a>
		</li>
	{% endfor %}
	</ul>
</section>