
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div id="outline">
	    <h4>outline</h4>
		<ul>
		</ul>
	</div>
	<div class="sponsor-banner">
		<p>Sponsored by</p>
		<a href="https://www.linkedin.com/company/tessangroup/">
			<div class="img-container">
				<img src="{{ site.baseurl }}/imgs/TessanGroupLogo.png"
				alt="Tessan Group - Your Trust Partner" />
			</div>
		</a>
	</div>
	<header class="article-header">
		<a href="{{ include.post_arg.url }}"><h1 itemprop="name headline">{{ include.post_arg.title }}</h1></a>
		<div itemprop="author" itemscope itemtype="http://schema.org/Person" itemid="{{ site.url }}/about-chedy-missaoui.html#ident">
  			<link itemprop="url" href="{{ site.url }}/about-chedy-missaoui.html" />
  			<meta itemprop="name" content="Chedy Missaoui" />
		</div>
		<time datetime="{{ include.post_arg.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post_arg.date | date_to_long_string}}</time>
		<div class="navigation">
			{% if include.post_arg != site.posts.last %}
			<a href="{{ include.post_arg.previous.url }}">previous</a>
			{% endif %}
			{% if include.post_arg != site.posts.first %}
			<a href="{{ include.post_arg.next.url }}">next</a>
			{% endif %}
		</div>
	</header>
	<div class="content" itemprop="articleBody">
		{{ include.post_arg.content }}
	</div>
	<footer class="article-footer">
		<div class="share"><a href="{{ include.post_arg.url }}"><h3>SHARE&nbsp;THIS</h3></a></div>
	</footer>
	{% if include.post_arg.comments %} 
	<div id="disqus_thread"></div>
	<script>
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
		 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
		 *  PLATFORM OR CMS.
		 *  
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
		 *  https://disqus.com/admin/universalcode/#configuration-variables
		 */
		/*
		var disqus_config = function () {
			// Replace PAGE_URL with your page's canonical URL variable
			this.page.url = PAGE_URL;  
			
			// Replace PAGE_IDENTIFIER with your page's unique identifier variable
			this.page.identifier = PAGE_IDENTIFIER; 
		};
		*/
		
		(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
			var d = document, s = d.createElement('script');
			
			// IMPORTANT: Replace EXAMPLE with your forum shortname!
			s.src = 'https://techdominator.disqus.com/embed.js';
			
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>
		Please enable JavaScript to view the 
		<a href="https://disqus.com/?ref_noscript" rel="nofollow">
			comments powered by Disqus.
		</a>
	</noscript>
	{% endif %}
</article>
