@media screen and (min-width: 320px) and (max-width: 480px) {
	h1 {
		font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}

	h4 {
		font-size: 1.25em;
	}


	article.post {
		padding: 0.5em;
		div.navigation {
			padding-top: 0.6em;
		}
		p, a {
			font-size: 1em;
		}

		figure.highlight {
			overflow-y: scroll;
			margin-left: -2em; 
		}
	}

	div.about {
	
		div.stackoverflow-flair {
			float: none;
			padding: 0.2em;
		}
	
	}
}
