@media screen and (max-width: 48em) {
	
	h1 {
		font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}

	h4 {
		font-size: 1.25em;
	}


	article.post {
		div.navigation {
			padding-top: 0.6em;
		}
		p, a {
			font-size: 1em;
		}

		figure.highlight {
			overflow-x: auto;
		}
	}

	div.about {
	
		div.stackoverflow-flair {
			float: none;
			padding: 0.2em;
		}
	
	}
}
