<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{{ site.description }}" />
	<title>{% if page.title %}{{ page.title | escape }} - {{ site.title }}{% else %}{{ site.title | escape }} - Blog{% endif %}</title>
	<link href="{{ site.url }}/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.url }}/css/main.css" rel="stylesheet">
	<link rel="icon shortcut" type="image/png" href="{{ site.url }}/favicon.png">
</head>
<body>
	<header class="site-header">
		<h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
			<ul>
				<li><a href="{{ site.url }}/archives.html">archives</a></li>
				<li>&nbsp;</li>
				<li><a href="{{ site.url }}/about.html">about</a></li>
				<li>&nbsp;</li>
				<li><a href="{{ site.url }}/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
				<li>&nbsp;</li>
				<li><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li>&nbsp;</li>
				<li><a href="https://github.com/MissaouiChedy"><i class="fa fa-github" aria-hidden="true"></i></a></li>
				<li>&nbsp;</li>
				<li><a href="https://tn.linkedin.com/in/chedy-missaoui-b184b558"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
	</header>
	<div class="main-content">
		{{ content }}
	</div>
	<footer class="site-footer">
	<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="License Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Composition «<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tech Dominator Blog</span>» created by the author by the name of <a xmlns:cc="http://creativecommons.org/ns#" href="http://techdominator.com/about.html" property="cc:attributionName" rel="cc:attributionURL">Chedy Missaoui</a>, It is published under the terms of <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">of the license Creative Commons «Attribution» 4.0 World</a>.
	</footer>
	{% include ga.html %}
</body>
</html>