---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div id="outline">
	    <h4>outline</h4>
		<ul>
		</ul>
	</div>
	{% include article-header.html %}
	<div class="content" itemprop="articleBody">
		{{ content }}
	</div>
	{% include article-footer.html %}
</article>

<script type="text/javascript">
	function generateId(domElement) {
		var content = $(domElement).html();
		return content.replace(/ /g, '-');
	}
	if ($('article.post div.content h2').length > 4) {
		$('article.post div.content h2').each(function (index, elem) {
			var title = $(elem).html();
			var title_id = generateId(elem);
			$(elem).attr('id', title_id);
			$('div#outline ul').append('<li><a href="#' + title_id + '">'+ title +'</a></li>');
			$('div#outline').show();
		});
	}
</script>